[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
tiktoken = "*"
ipython = "*"
httpx = "*"
strenum = "*"
tenacity = "*"
beautifulsoup4 = "*"
flask-sse = "*"
langcodes = "*"
language-data = "*"
lxml = "*"
quart = "*"
hypercorn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
