[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
tiktoken = "*"
ipython = "*"
httpx = "*"
strenum = "*"
tenacity = "*"
langcodes = "*"
language-data = "*"
quart = "*"
hypercorn = "*"
arq = "*"
youtube-transcript-api = "*"
deepl = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
