[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
tiktoken = "*"
ipython = "*"
flask = {extras = ["async"], version = "*"}
httpx = "*"
gunicorn = "*"
celery = {extras = ["redis"], version = "*"}
strenum = "*"
validators = "*"
urlmatch = "*"
six = "*"
tenacity = "*"
apscheduler = "*"
pycryptodome = "*"
youtube-transcript-api = "*"
gevent = "*"
beautifulsoup4 = "*"
lxml = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
